

#image-profile {
    width: 80px;
}

.main_container {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 18px;
  line-height: 1.42857143;
  color: #333333;
  background-color: white;
  padding: 20px;
  margin: 20px;
}

.flat-content {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 18px !important;
  line-height: 1.42857143;
  color: #333333;
  background-color: white;
  padding: 20px;
  margin: 20px;
  h1 {
    font-size: 18px;
  }
}

